body {
    font-family: 'Source Serif Pro', sans-serif;
    color: #1b1e23;
    font-size: 17px;
    line-height: 1.5;
}

a {
    color: #3182bd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p{
    max-width: 640px;
}

#container{
    padding: 0 30px;
}

.observablehq {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    margin-bottom: 17px;
}
img {
    max-width: 100%;
}

.observablehq canvas, .observablehq svg{
    max-width: 100%;
}

.observablehq--inspect{
    display: none;
}